* {
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 18px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  background-color: rgba(30, 30, 46, 0.25); 
  color: #e0def4;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 6px;
}

#workspaces {
    margin: 5px 5px;
  padding: 15px 12px;
    border-radius: 16px;
  border: solid 0px #cdd6f4;
}
#workspaces button {
    padding: 0px 2px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    min-width: 12px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: #cdd6f4;
    color: #cdd6f4;
    border-radius: 16px;
  min-width: 50px;
}

#custom-logo,
#custom-power,
#custom-notification,
#memory,
#window,
#battery,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
}


window#waybar.empty #window {
  background-color: transparent;
}

#window {
  color: #cdd6f4;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-power {
  color: #f38ba8;
}

#custom-notification{
    color: #74c7ec;
    font-size: 22px;
}


tooltip {
background-color: #181825;
}

#network {
    font-size : 22px;
padding: 0.3rem 0.2rem;
  margin: 0.4rem 0.25rem;
}
#bluetooth{
    font-size : 22px;
padding: 0.3rem 0.2rem;
  margin: 0.4rem 0.25rem;
}


#clock {
    padding: 0.7rem 0.5rem 0rem 0.7rem;
    margin: 0.4rem 0.25rem;
    font-family: "monospace";
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.5s ease-in-out;
}

#clock:hover {
transition: opacity 0.3s ease-in-out;
}

#power-profiles-daemon{
padding: 0.3rem 0.2rem;
  margin: 0.4rem 0.25rem;
    font-size: 20px;
}

#mpris {
    color: #b4befe;
    padding: 0 12px;
    margin: 0 4px;
    border-radius: 8px;
    background: rgba(180, 190, 254, 0.1);
    transition: all 0.3s ease;
    min-width: 100px;
}

#mpris:hover {
    background: rgba(180, 190, 254, 0.2);

}

#mpris.playing {
    color: #a6e3a1;
    background: rgba(166, 227, 161, 0.1);

}

#mpris.paused {
    color: #f9e2af;
    background: rgba(249, 226, 175, 0.1);
}

#mpris.stopped {
    color: #6c7086;
    background: rgba(249, 226, 175, 0.1);
}



#tags {
    margin: 5px 5px;
  padding: 15px 12px;
    border-radius: 16px;
  border: solid 0px #cdd6f4;
}

#tags button {
    padding: 0px 2px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    min-width: 12px;
    transition: all 0.3s ease-in-out;
}

#tags button.focused {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}



#tags button:hover {
    background-color: #cdd6f4;
    color: #cdd6f4;
    border-radius: 16px;
    min-width: 50px;
}


